.list {
  list-style: none;
  padding: 0;

  > li {
    margin: 8px 0;
    /* border-bottom: 1px solid #dde; */

    @media (prefers-color-scheme: dark) {
      /* border-bottom: 1px solid #887; */
    }
  }
}

.list-item {
  p {
    display: inline-flex;
    gap: 8px;
    margin: 0.2rem 0;
  }
}

.post-card {
  display: inline-flex;
  outline-offset: 0.5rem;
  /* transition: scale 100ms ease-out; */
}

.post-date {
  margin-bottom: 1rem;
}

.post-card:focus-within,
.post-card:hover {
  /* background-color: red; */
  /* scale: 1.02; */
}

.date {
  flex-shrink: 0;
}

blockquote {
  padding: 0 2rem;
  margin: 1rem;
  border-left: 4px solid #dde;

  @media (prefers-color-scheme: dark) {
    border-left: 4px solid #887;
  }
}

a.anchor-heading {
  color: #333;

  &:hover::after {
    opacity: 1;
  }
}

a.anchor-heading::after {
  content: "”";
  opacity: 0;
  transition: opacity 150ms ease-out;
}
