.list {
  list-style: none;
  padding: 0;

  > li {
    padding: 16px 0;
    border-bottom: 1px solid #dde;

    @media (prefers-color-scheme: dark) {
      border-bottom: 1px solid #887;
    }
  }
}

.post-card {
  display: flex;
  flex-direction: column;
  outline-offset: 0.5rem;
  transition: scale 100ms ease-out;
}

.post-card:focus-within,
.post-card:hover {
  /* background-color: red; */
  scale: 1.02;
}

.post-date {
  display: inline-block;
  margin-bottom: 1rem;
}

blockquote {
  padding: 0 2rem;
  margin: 1rem;
  border-left: 4px solid #dde;

  @media (prefers-color-scheme: dark) {
    border-left: 4px solid #887;
  }
}
