/* @import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap'); */
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");

/* latin-ext */
/* @font-face {
    font-family: "Atkinson Hyperlegible";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/atkinsonhyperlegible/v11/9Bt23C1KxNDXMspQ1lPyU89-1h6ONRlW45G07JIoWQeCbGWn.woff2)
        format("woff2");
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF,
        U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
/* @font-face {
    font-family: "Atkinson Hyperlegible";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/atkinsonhyperlegible/v11/9Bt23C1KxNDXMspQ1lPyU89-1h6ONRlW45G04pIoWQeCbA.woff2)
        format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
        U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122,
        U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
/* @font-face {
    font-family: "Atkinson Hyperlegible";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/atkinsonhyperlegible/v11/9Bt73C1KxNDXMspQ1lPyU89-1h6ONRlW45G8Wbc9eiWPRl-uFV24.woff2)
        format("woff2");
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF,
        U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF; */
*/

/* latin */
@font-face {
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;

    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/atkinsonhyperlegible/v11/9Bt73C1KxNDXMspQ1lPyU89-1h6ONRlW45G8Wbc9dCWPRl-uFQ.woff2)
        format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
        U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122,
        U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

* {
    /* brand foundation */
    --brand-hue: 250;
    --brand-saturation: 100;
    --brand-lightness: 100%;

    /* light */
    --brand-light: hsl(
        var(--brand-hue) var(--brand-saturation)
            calc(var(--brand-lightness) / 3)
    );
    --text1-light: hsl(var(--brand-hue) 30% 15%);
    --text2-light: hsl(var(--brand-hue) 20% 40%);
    --text3-light: hsl(var(--brand-hue) 5% 40%);
    --surface1-light: hsl(var(--brand-hue) 25% 90%);
    --surface2-light: hsl(var(--brand-hue) 20% 99%);
    --surface3-light: hsl(var(--brand-hue) 20% 92%);
    --surface4-light: hsl(var(--brand-hue) 20% 85%);
    --surface-shadow-light: var(--brand-hue) 10%
        calc(var(--brand-lightness) / 5);
    --shadow-strength-light: 0.02;
    /*
    --brand-light: hsl(
        var(--brand-hue) var(--brand-saturation) var(--brand-lightness)
    );
    --text1-light: hsl(var(--brand-hue) var(--brand-saturation) 10%);
    --text2-light: hsl(var(--brand-hue) 50% 30%);
    --text3-light: hsl(var(--brand-hue) 0% 50%);
    --surface1-light: hsl(var(--brand-hue) 25% 90%);
    --surface2-light: hsl(var(--brand-hue) 20% 99%);
    --surface3-light: hsl(var(--brand-hue) 20% 92%);
    --surface4-light: hsl(var(--brand-hue) 20% 85%);
    --surface-shadow-light: var(--brand-hue) 10% 20%;
    --shadow-strength-light: 0.02; */

    /* dark */
    --brand-dark: hsl(
        var(--brand-hue) calc(var(--brand-saturation) / 2)
            calc(var(--brand-lightness) / 1.5)
    );

    --text1-dark: hsl(var(--brand-hue) 15% 85%);
    --text2-dark: hsl(var(--brand-hue) 20% 70%);
    --text3-dark: hsl(var(--brand-hue) 15% 45%);
    --surface1-dark: hsl(var(--brand-hue) 10% 10%);
    --surface2-dark: hsl(var(--brand-hue) 10% 15%);
    --surface3-dark: hsl(var(--brand-hue) 5% 20%);
    --surface4-dark: hsl(var(--brand-hue) 5% 25%);
    --surface-shadow-dark: var(--brand-hue) 50% 3%;
    --shadow-strength-dark: 0.8;

    color-scheme: light;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    /* set defaults */
    --brand: var(--brand-light);
    --text1: var(--text1-light);
    --text2: var(--text2-light);
    --text3: var(--text3-light);
    --surface1: var(--surface1-light);
    --surface2: var(--surface2-light);
    --surface3: var(--surface3-light);
    --surface4: var(--surface4-light);
    --surface-shadow: var(--surface-shadow-light);
    --shadow-strength: var(--shadow-strength-light);
}

@media (prefers-color-scheme: dark) {
    :root {
        color-scheme: dark;

        --brand: var(--brand-dark);
        --text1: var(--text1-dark);
        --text2: var(--text2-dark);
        --surface1: var(--surface1-dark);
        --surface2: var(--surface2-dark);
        --surface3: var(--surface3-dark);
        --surface4: var(--surface4-dark);
        --surface-shadow: var(--surface-shadow-dark);
        --shadow-strength: var(--shadow-strength-dark);
    }
}

[color-scheme="light"],
[data-theme="light"] {
    color-scheme: light;

    --brand: var(--brand-light);
    --text1: var(--text1-light);
    --text2: var(--text2-light);
    --surface1: var(--surface1-light);
    --surface2: var(--surface2-light);
    --surface3: var(--surface3-light);
    --surface4: var(--surface4-light);
    --surface-shadow: var(--surface-shadow-light);
    --shadow-strength: var(--shadow-strength-light);
}

[color-scheme="dark"],
[data-theme="dark"] {
    color-scheme: dark;

    --brand: var(--brand-dark);
    --text1: var(--text1-dark);
    --text2: var(--text2-dark);
    --surface1: var(--surface1-dark);
    --surface2: var(--surface2-dark);
    --surface3: var(--surface3-dark);
    --surface4: var(--surface4-dark);
    --surface-shadow: var(--surface-shadow-dark);
    --shadow-strength: var(--shadow-strength-dark);
}

html {
    height: 100vh;
    color: var(--text1);
    background-color: var(--surface);
    display: flex;
}

body {
    display: flex;
    width: 100%;
    flex-direction: column;
    min-height: 100vh;
    margin: 0 auto;
    padding: 0 24px;
    padding-bottom: 0;
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-display: swap;
    font-weight: 300;
}

main {
    flex: 1;
    flex-direction: column;
    align-items: center;
    margin: auto;
    align-items: flex-start;
    width: 100%;
    max-width: 50rem;
}

main.blog-page-container {
    max-width: 50rem;
}

section:first-child {
    margin-bottom: 24px;
}

section.main-section {
    width: 100%;
}

h1 {
    line-height: 1.5;
    font-size: 4rem;
    margin: 0;
}

h2 {
    font-weight: 400;
    margin-top: 0;
}

p {
    line-height: 1.5;
}

hr {
    margin: 24px 0;
    border: 0;
    height: 0;
    border-top: 1px solid var(--surface2);
    border-bottom: 1px solid var(--surface3);
}

footer {
    margin: 0 auto;
    width: 100%;
    max-width: 50rem;
}

footer > p {
    margin: 0;
    padding: 24px 0;
    font-weight: 300;
}

.projects-container {
    width: 100%;
}

.projects-list {
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* flex-direction: column; */
    display: grid;
    grid-template-columns: 50% 50%;

    row-gap: 4px;
    column-gap: 32px;
    place-items: stretch;
    /* align-items: flex-start; */
    padding: 0;
    list-style-type: none;

    @media (max-width: 600px) {
        grid-template-columns: 100%;
    }
}

.icon-button {
    background: none;
    margin: 0;
    padding: 0;
    border: none;
    cursor: pointer;
}

.icon-button:hover {
    opacity: 0.6;
    transition: all 300ms;
}

.icon-button > svg {
    width: 28px;
    height: 28px;
}

path.theme-button {
    stroke: var(--text2);
}

path.theme-button-fill {
    fill: var(--text2);
}

.icon-anchor {
    width: min-content;
    text-align: center;
    font-size: 0.95rem;
    font-weight: 500;
    margin-right: 14px;
    vertical-align: middle;
    text-decoration: underline;
}

.media-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    gap: 4px;
    padding: 0;
}

.media-links > li {
    display: inline-block;
    padding: 8px 0;
}

li {
    line-height: 1.8;
}

@media (min-width: 600px) {
    body {
        padding: 48px 64px;
        padding-bottom: 0;
    }

    .media-links {
        justify-content: flex-start;
    }
}

h1 {
    color: var(--text1);
    font-size: 3rem;
}

h2 {
    font-weight: 600;
    font-size: 2rem;
}

.blog-post-date {
    margin-top: 0;
    margin-bottom: 32px;
    color: var(--text3);
}

.anchor {
    color: var(--brand);
    display: inline-flex;
}

.anchor:hover {
    text-decoration: none;
}

.anchor--no-decoration {
    text-decoration: none;
}

.anchor--no-decoration:visited {
    color: purple;
}

.anchor--no-decoration:hover {
    text-decoration: underline;
}

.hljs {
    border: 1px solid #f8f7fd;
    border-radius: 8px;
}

.post-image {
    display: block;
    margin: 24px auto;
    height: auto;
    background: #f5f5f5;
    border: 1px #dddddd solid;
    padding: 1%;
    object-fit: contain;
    max-width: 90%;
    max-height: 512px;
}

.blog-comments {
    width: 100%;
}

.footnote {
    text-decoration: none;
    font-size: 1rem;
}

.quote {
    padding-left: 24px;
    margin-left: 8px;
    border-left: 4px solid var(--surface1);
}

.link--thin {
    font-weight: 300;
}

.link--regular {
    font-weight: 400;
}

.link--bold {
    font-weight: 600;
}

.link > svg {
    opacity: 1;
}

.link:hover > svg,
.link:focus > svg {
    opacity: 0.6;
    transition: all 300ms;
}

.link-w-tags::after {
    position: relative;
    padding-left: 4px;
    bottom: 4px;
    content: attr(data-tags);
    text-overflow: ellipsis;
    font-weight: 300;
    font-size: 0.6rem;
}

.link {
    color: var(--text2);
}

.link:hover {
    text-decoration: none;
}

.no-underline {
    text-decoration: none;
}

.link > svg {
    width: 28px;
    height: 28px;
    vertical-align: middle;
    fill: var(--text2);
}

.highlight:hover {
    color: var(--color-bright);
}

.navigation-links {
    display: flex;
    justify-content: space-between;
}

.navigation-links > * {
    margin-right: 24px;
}

nav {
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    width: 100%;
    font-family: monospace;
    align-items: center;
}

a {
    color: white;
    color: var(--text2);
    text-underline-offset: 2px;

    &:hover {
        text-decoration: none;
    }
}
