@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --color-primary: #555354;
  --color-dark: #252525;
  --color-bright: rgb(113, 127, 128);
  --color-blog-anchor: deeppink;
}

html {
  height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 48px 24px;
  padding-bottom: 0;
  font-family: 'Rubik', sans-serif;
  font-weight: 300;
  margin: 0;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1240px;
  margin: auto;
  align-items: flex-start;
}

section:first-child {
  margin-bottom: 24px;
}

h1 {
  line-height: 1.5;
  font-size: 4rem;
  margin: 0;
}

h2 {
  font-weight: 400;
  margin-top: 0;
}

p {
  line-height: 1.5;
}

hr {
  margin: 24px 0;
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

footer {
  margin: 0 auto;
  width: 100%;
  max-width: 1240px;
}

footer > p {
  margin: 0;
  padding: 24px 0;
  font-weight: 300;
}

.projects-container {
  width: 100%;
}

.projects-container > ul {
  padding: 0;
  list-style-type: none;
  line-height: 1.5;
  margin: 0;
}

.icon-anchor {
  width: min-content;
  text-align: center;
  font-size: 0.95rem;
  font-weight: 500;
  margin-right: 18px;
  vertical-align: middle;
  text-decoration: underline;
  color: var(--color-dark);
}

.media-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  padding: 0;
}

.media-links > li {
  display: inline-block;
  padding: 8px 0;
}

li {
  line-height: 1.8;
}

@media (min-width: 600px) {
  body {
    padding: 48px 64px;
    padding-bottom: 0;
  }

  .media-links {
    justify-content: flex-start;
  }
}

.anchor {
  display: inline-flex;
}

.anchor:hover {
  text-decoration: none;
}

.anchor--no-decoration {
  text-decoration: none;
}

.anchor--no-decoration:visited {
  color: var(--color-blog-anchor);
}

.anchor--no-decoration:hover {
  text-decoration: underline;
}

.post-image {
  display: block;
  margin: 24px auto;
  height: auto;
  background: #F5F5F5;
  border: 1px #dddddd solid;
  padding: 1%;
  object-fit: contain;
  max-width: 90%;
  max-height: 512px;
}

.post-container {
  max-width: 100%;
}
