body {
  display: flex;
  flex-direction: column;
  margin: 40px auto;
  max-width: 720px;
  min-height: 100vh;
  margin: 0 auto;
  line-height: 1.6;
  font-family: "Times New Roman", Times, serif;
  /* background-color: #f5f5fa; */
  background-color: #fefefe;
  font-size: 1.2rem;
  font-weight: 300;
  color: #333;
  padding: 0 2rem;
}

body {
  @media (prefers-color-scheme: dark) {
    /* background-color: #1c1c1e; */
    /* color: #bbb; */
  }
}

h1,
h2,
h3 {
  line-height: 1.2;
}

main {
  margin-bottom: auto;
  margin-bottom: 48px;
}

img {
  width: 100%;
  height: 100%;
  max-height: 640px;
  object-fit: contain;
}

a {
  color: #6495ed;
  text-decoration: none;
}

a:link,
a:visited {
  color: #6495ed;
}

a:focus,
a:hover {
  text-decoration: underline;
}

hr {
  border: 1px solid #dde;

  @media (prefers-color-scheme: dark) {
    border: 1px solid #887;
  }
}

footer {
  margin-top: auto;
  width: 100%;
}

.icon {
  width: 28px;
  height: 28px;
  vertical-align: middle;
  fill: #444;
  opacity: 1;

  @media (prefers-color-scheme: dark) {
    /* fill: #bbb; */
  }
}

.top-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;

  > ul {
    padding: 16px 0;
    display: flex;
    gap: 1.2rem;
    list-style: none;

    > li > a {
      font-family: monospace;
    }
  }
}

.icon__anchor {
  outline-offset: 0.5rem;
}

.main-name {
  margin: 0;
}

.index-posts {
  ul {
    list-style: none;
    padding: 0;
  }
}

.footer-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
