.link--thin {
  font-weight: 300;
}

.link--regular {
  font-weight: 400;
}

.link--bold {
  font-weight: 600;
}

.link > svg {
  opacity: 0.6;
  transition: all 300ms;
}

.link:hover > svg, .link:focus > svg {
  opacity: 1;
}


.link-w-tags::after {
  position: relative;
  padding-left: 4px;
  bottom: 4px;
  content: attr(data-tags);
  font-weight: 300;
  font-size: 0.6rem;
}

.link {
  color: var(--color-primary);
}

.link:hover {
  text-decoration: none;
}

.no-underline {
  text-decoration: none;
}

.link > svg {
  width: 28px;
  height: 28px;
  vertical-align: middle;
  fill: var(--color-primary);
}

.highlight:hover {
  color: var(--color-bright);
}
