body {
    padding: 48px;
    font-family: 'Montserrat', sans-serif;
    background-color: #EFF1ED;
    color: #2B303A;
    font-weight: normal;
}

p {
    font-weight: 600;
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.links {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-self: flex-end;
    justify-content: space-between;
    margin-left: 24px;
    margin-right: 24px;
    max-width: 420px;
}

.link {
    color: #7C7C7C;
    font-size: 18px;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    border-bottom: 2px solid transparent;
}

.link:hover {
    border-bottom: 2px solid #7C7C7C;
}

.icon {
    display: none;
    fill: #2B303A;
    cursor: pointer;
    width: 24px;
    height: 24px;
}

.icon path {
    fill: white;
    color: red;
}

.name {
    font-size: 28px;
    font-weight: 600;
}

.headline {
    font-size: 12px;
}

.separator {
    width: 48px;
    height: 2px;
    background-color: #2B303A;
    margin: 24px 0;
}

.projects {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
}

.project-card {
    display: flex;
    position: relative;
    width: 320px;
    height: 180px;
    margin-right: 8px;
    margin-bottom: 8px;
    color: transparent;
    transition: all 0.4s ease-in-out;
    align-items: flex-end;
}

.project-card:hover {
    color: #EFF1ED;
    cursor: pointer;
}

.project-title {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    flex-direction: row;
    z-index: 2;
    font-size: 14px;
    padding: 8px;
}

.project-picture {
    position: absolute;
    width: 320px;
}

.tag {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.arrow {
    width: 0;
    height: 0;
    border-right: 10px solid transparent;
    border-radius: 1px;
    border-left: 10px solid #2B303A;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}

.tag-background {
    display: flex;
    align-items: center;
    border-radius: 2px;
    padding: 2px;
    padding-left: 6px;
    width: auto;
    background-color: #2B303A;
    height: 18px;
}

.tag-text {
    color: white;
    font-size: 10px;
}

.card-overlay {
    top: 0;
    left: 0;
    position: absolute;
    opacity: 0.1;
    transition: all .2s ease-in-out;
    width: 320px;
    height: 180px;

    background-color: #2B303A;
}

.card-overlay:hover {
    opacity: 0.7;
}

@media (max-width: 790px) {
    body {
        justify-content: center;
    }
    .header {
        flex-direction: column;
    }

    .links {
        align-self: center;
        margin: 32px 0;
        min-width: 300px;
    }

    .projects {
        margin-right: 48px;
        justify-content: center;
    }

    .project-card {
        margin-bottom: 32px;
        width: 256px;
        height: 148px;
    }

    .project-picture {
        width: 256px;
        height: 148px;
    }

    .card-overlay {
        width: 256px;
        height: 148px;
    }

    .separator {
        display: none;
    }

    .link {
        display: none;
    }

    .icon {
        display: block;
    }
}
