body {
    color: #313131;
    padding: 32px;
    line-height: 1.4;
    background-color: #f9fbff;
    font-family: 'Cutive Mono';
}

h1 {
    text-transform: capitalize;
}

h2 {
    margin: 0;
    font-size: 14px;
}

p {
    margin: 4px;
}

ul {
    padding: 0;
}

li {
    margin-left: 32px;
    padding: 2px 0;
}

a {
    color: #313131;
    padding: 0 4px;
    text-decoration: none;
    border-bottom: 2px solid #313131;
}

a:hover {
    color: white;
    background-color: #313131;
}

.tech-title {
    width: min-content;
}

.tech-content {
    display: flex;
    margin-top: 16px;
    flex-direction: column;
    border: 2px solid #313131;
}

.tech {
    font-weight: bold;
}

.js {
    color: #bdab1a;
}

.react {
    color: #845482;
}

.lua {
    color: #34348d;
}

.go {
    color: #007cff;
}

.c {
    color: #454b4c;
}

.kop-content {
    max-width: 640px;
}

@media (prefers-color-scheme: dark) {
    /* defaults to dark theme */
    body {
        color: #f9fbff;
        background-color: #242626;
    }

    h1 {
        color: #f9fbff;
    }

    a {
        color: #f9fbff;
        border-bottom: 2px solid #f9fbff;
    }

    a:hover {
        color: #313131;
        background-color: #f9fbff;
    }

    .c {
        color: #affdec;
    }

    .lua {
        color: #9e9eff;
    }
    
    .react {
        color: #ff4ff8;
    }
}
