body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f6f5fa;
    color: #2B303A;
    font-weight: normal;
}

button {
    background-color: transparent;
}

.wrapper {
    max-width: 1280px;
    margin: 48px auto;
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.links {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-self: flex-end;
    justify-content: space-between;
    margin-left: 24px;
    max-width: 420px;
}

.link {
    color: #7C7C7C;
    font-size: 18px;
    text-decoration: none;
    outline: none;
    transition: border-bottom 0.2s ease-out;
    border-bottom: 2px solid transparent;
}

.link:hover {
    border-bottom: 2px solid #7C7C7C;
}

.link:focus {
    border-bottom: 2px solid #7C7C7C;
}

.icon {
    visibility: hidden;
    pointer-events: none;
}

.name {
    font-size: 32px;
    font-weight: 600;
    margin: 0;
}

.headline {
    font-weight: normal;
    font-size: 12px;
    margin: 0;
}

.separator {
    width: 48px;
    height: 2px;
    background-color: #2B303A;
    margin: 24px 0;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between
}

.picture-container {
    display: flex;
    width: 100%;
    height: 256px;
}

.project-picture {
    object-fit: cover;
    width: 100%;
}

.project-container {
    display: flex;
    max-width: 512px;
    flex-direction: column;
    margin-bottom: 16px;
}

.accordion {
    text-decoration: none;
    width: fit-content;
    outline: none;
    border: none;
    color: #2B303A;
    font-weight: 600;
    opacity: 1;
    margin: 0;
    padding: 4px;
    transition: background-color 0.4s ease-out, color 0.4s ease-out;
}

.accordion:hover {
    background-color: #2B303A;
    color: #f6f5fa;
    cursor: pointer;
}

.accordion:focus {
    background-color: #2B303A;
    color: #f6f5fa;
    cursor: pointer;
}

.accordion-item {
    max-height: 0;
    padding: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-in-out, padding 0.2s ease-in-out;
}

.accordion-item.active {
    display: block;
    max-height: 640px;
}

.project-link {
    display: inline-block;
    font-size: 14px;
    margin-bottom: 8px;
}

@media (max-width: 790px) {
    body {
        padding: 24px;
        justify-content: center;
    }

    .header {
        flex-direction: column;
    }

    .links {
        align-self: center;
        margin: 32px 0;
        min-width: 152px;
    }

    .projects {
        justify-content: space-between;
    }

    .project-card {
        margin-bottom: 32px;
        width: 256px;
        height: 148px;
    }

    .separator {
        display: none;
    }

    .link {
        display: none;
    }

    .icon {
        visibility: visible;
        fill: #2B303A;
        cursor: pointer;
        width: 24px;
        height: 24px;
    }
}
